<nav class="navbar">

  <!-- LOGO -->

  <a
    class="logo"
    routerLink="/sobre"
  >
    HandPulse
  </a>


  <!-- MENU -->

  <div class="nav-links">

    <!-- SEM LOGIN -->

    @if (!estaLogado) {

      <a
        routerLink="/sobre"
        routerLinkActive="active"
      >
        Sobre
      </a>


      <a
        routerLink="/login"
        routerLinkActive="active"
        class="login-link"
      >
        Sign In
      </a>

    }


    <!-- COM LOGIN -->

    @if (estaLogado) {

      <a
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        Dashboard
      </a>


      <a
        routerLink="/historico"
        routerLinkActive="active"
      >
        Histórico
      </a>


      <a
        routerLink="/sobre"
        routerLinkActive="active"
      >
        Sobre
      </a>


      <button
        type="button"
        class="logout"
        (click)="sair()"
      >
        Sair
      </button>

    }

  </div>

</nav>